$grid-gutter-width: 20px;

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  max-width: 1920px;
}

a {
  color: white;
  transition: color 0.2s;
}

.hidden {
  display: none;
}


@import "_partials/header";
@import "_partials/location";
@import "_partials/navigation";
@import "_partials/tagline";