$grid-gutter-width: 20px;

$container-max-widths: (
sm: 560px,
md: 740px,
lg: 980px,
xl: 1480px);


@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0.3s;
  /*  max-width: 1920px; */
  min-width: 320;
}

a {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
}

.hidden {
  display: none;
}


@import "_partials/header";
@import "_partials/location";
@import "_partials/navigation";
@import "_partials/tagline";
@import "_partials/features";
@import "_partials/my-works";
@import "_partials/work-sample";
@import "_partials/projects";
@import "_partials/feedbacks";
@import "_partials/more-button";
@import "_partials/header-tagline";
@import "_partials/why-me";
@import "_partials/footer";
@import "_partials/footer-bottom";
@import "_partials/header-typography";
@import "_partials/main-content-typography";
