$grid-gutter-width: 20px;

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 1920px;
}

a {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
}

.hidden {
  display: none;
}


@import "_partials/header";
@import "_partials/location";
@import "_partials/navigation";
@import "_partials/tagline";
@import "_partials/features";
@import "_partials/my-works";
@import "_partials/work-sample";
@import "_partials/projects";
@import "_partials/feedbacks";
@import "_partials/more-button";
@import "_partials/header-tagline";
@import "_partials/why-me";
@import "_partials/footer";