.feedbacks {
  display: flex;
  width: 100%;
  padding-right: 130px;
  padding-left: 130px;
  margin-bottom: 100px;

  .feedbacks-header {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    margin-top: 90px;
    margin-bottom: 60px;
    transition: all 0.3s;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    border: solid 2px #d3d3d3;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;

    .feedback-container__heading {
      display: flex;

      .feedback-container__photo {
        display: block;
        margin-top: 20px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        overflow: hidden;
      }

      .author-container {
        display: inline-block;
        margin-left: 30px;
        margin-bottom: 25px;

        .feedback-container__author {
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 400;
        }

        .feedback-container__author-profile {
          display: block;
          font-size: 16px;
          font-weight: 400;
        }

        .social-logo.social-logo--vk,
        .social-logo.social-logo--instagram,
        .social-logo.social-logo--telegram,
        .social-logo.social-logo--facebook {
          margin-right: 17px;
          color: black;
          font-size: 22px;

          &:hover {
            color: #ff6801;
          }
        }
      }


    }

    .feedback-container__author-massage {
      font-size: 16px;
    }
  }

  .feedbacks__more-btn.more-btn {
    margin-top: 40px;
    width: 285px;
    text-transform: uppercase;
  }
}


@media (max-width: 1380px) {
  .feedbacks {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 1111px) {
  .feedbacks .feedbacks-header {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .feedbacks .feedback-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .feedbacks .feedback-container .feedback-container__heading .feedback-container__photo {
    margin-top: 0;
  }

  .feedbacks .feedback-container .feedback-container__heading .author-container .feedback-container__author {
    font-size: 15px;
  }

  .feedbacks .feedback-container .feedback-container__heading .author-container .feedback-container__author-profile {
    font-size: 12px;
  }

  .feedbacks .feedback-container .feedback-container__heading .author-container .social-logo.social-logo--vk,
  .feedbacks .feedback-container .feedback-container__heading .author-container .social-logo.social-logo--instagram,
  .feedbacks .feedback-container .feedback-container__heading .author-container .social-logo.social-logo--telegram,
  .feedbacks .feedback-container .feedback-container__heading .author-container .social-logo.social-logo--facebook {
    font-size: 15px;
  }

  .col-4.width-60 {
    max-width: 80%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .feedbacks .feedback-container .feedback-container__author-massage {
    font-size: 15px;
  }

  .feedbacks .feedbacks__more-btn.more-btn {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .feedbacks .feedbacks-header {
    font-size: 24px;
  }

  .col-4.width-60 {
    max-width: 95%;
  }

  .feedbacks .feedback-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedbacks .feedback-container .feedback-container__heading .author-container {
    margin-left: 10px;
  }

  .feedbacks .feedback-container .feedback-container__author-massage {
    font-size: 13px;

    p {
      margin-bottom: 0.3rem;
    }
  }

}
