.header {
  width: 100%;
  height: 755px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/background-header.png);
  color: white;
  font-size: 20px;

  .header__location {
    display: flex;
    margin-top: 90px;
    justify-content: center;

    .location__city {
      display: flex;
      height: 44px;
      border-right: 2px solid #414243;
      align-items: center;
      padding-right: 30px;

      .fa-map-marker-alt:before {
        color: #ff6801;
        padding-left: 15px;
      }

    }

    .location__number {
      display: flex;
      height: 44px;
      align-items: center;
      padding-left: 30px;

      .fa-phone:before {
        color: #ff6801;
        padding-right: 15px;     
      }
    }
  }
}
