.divider-grey {
  background-color: #212121;
  height: 50px;
  margin: 0;
  margin-top: 50px;
}

.divider-orange {
  background-color: #ff6801;
  height: 50px;
  margin: 0;
  margin-top: 50px;
}

.divider-white {
  background-color: #ffffff;
  height: 50px;
  margin: 0;
  margin-top: 50px;
}
