.location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;

  .location__city {
    display: flex;
    height: 44px;
    border-right: 2px solid #414243;
    align-items: center;
    padding-right: 30px;

    .fa-map-marker-alt:before,
    .fa-chevron-left:before {
      color: #ff6801;
      padding-left: 15px;
    }
  }

  .location__number {
    display: flex;
    height: 44px;
    align-items: center;
    padding-left: 30px;

    .fa-phone:before,
    .fa-chevron-right:before {
      color: #ff6801;
      padding-right: 15px;
    }
  }
}
