.main-content__wrapper {
  position: relative;
  padding-right: 120px;
  padding-top: 140px;
  background: #ffffff;
  margin-right: -10px;
  margin-left: -10px;
  padding-bottom: 50px;

  &::before {
    content: "";
    height: 100%;
    width: 100vw;
    background-color: #ffffff;
    position: absolute;
    left: -100vw;
    top: 0;
  }
}

.typography-main-content {
  background: #f9f9f9;
}

.col-shadow {
  box-shadow: 2px 0px lightgrey;
  margin-right: 85px;
}

.main-content__h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 25px;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
}

.main-content__date {
  font-size: 22px;

  i {
    color: #ff6801;
  }
}

.main-content__social {
  font-size: 22px;

  a {
    margin-left: 10px;
    color: #000000;

    &:hover {
      color: #ff6801;
    }
  }
}

.main-content__typography {
  margin-top: 55px;

  .main-content__h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 21px;
    font-weight: 400;
  }

  .main-content__ul {
      margin-top: 30px;
    ul {
      font-size: 21px;
      padding-left: 20px;
      font-weight: 400;

      li {
        margin-bottom: 10px;
      }
    }
  }


  .main-content__ol {
    margin-top: 30px;

    ol {
      font-size: 21px;
      padding-left: 20px;
      font-weight: 400;

      li {
        margin-bottom: 10px;
      }
    }
  }

}



td {
  .fas {
    color: #ff6801;

    &.not-active {
      opacity: 0.3;
    }
  }
}

.main-content__table {
  margin-top: 30px;
  margin-bottom: 80px;

  table {
    border: 1px solid #c3c3c3;

    .table-heading {
      background: #212121;
      color: white;
      font-size: 22px;
    }

    tr {
      text-align: center;
      border: 1px solid #c3c3c3;

      th,
      td {
        border: 1px solid #c3c3c3;
        width: 25%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: initial;
        font-weight: 400;
      }

      .first-column {
        font-size: 22px;
        font-weight: 500;
        text-align: initial;
      }

      th {
        font-weight: 400;
      }
    }

    .bottom-row {
      background: #212121;
      color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: 26px;
      }

      .more-btn--table {
        text-transform: uppercase;
        width: 100%;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
