@mixin burgerLine($absolute: false, $width: 16px, $height: 2px) {
  width: $width;
  height: $height;
  background: #ffff;

  @if $absolute {
    position: absolute;
    content: "";
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  .mobile-menu-btn {
    display: none;
  }
}

.navigation-menu {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  .navigation__item {
    display: flex;
    font-size: 18px;
    color: #999999;
    height: 74px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    background-color: #212121;
    font-weight: 400;
    position: relative;
    transition: all 0.3s;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 5px;
      background: #ff6801;
      transition: width 0.3s;
      bottom: 0px;
      left: 0;
      z-index: 1;
    }

    &:hover {
      color: #fff;

      &:before {
        width: 100%;
      }
    }
  }

  .navigation__item--active {
    background-color: #ff6801;
    color: #212121;

    &:hover {
      color: #212121;
      border-bottom: none;
    }
  }
}

@media (max-width: 1420px) {
  .navigation-menu .navigation__item {
    padding-left: 40px;
    padding-right: 40px;
  }
}



@media (max-width: 1111px) {
  .navigation-menu .navigation__item {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 15px;
  }
}

@media (max-width: 720px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navigation-menu {
    display: none;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation .mobile-menu-btn {
    display: block;
    position: relative;
    border: none;
    width: 60px;
    height: 40px;
    background-color: #ff6801;
    align-content: center;
    padding: 0;

    &:hover {
      opacity: 0.8;
    }

    &:focus,
    &:active {
      outline: none;
    }

    .mobile-menu-btn__icon {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 21px;

      @include burgerLine();

      &:before {
        @include burgerLine(true);
        top: -5px;
        left: 0;
      }

      &:after {
        @include burgerLine(true);
        top: 5px;
        left: 0;
      }
    }
  }

  .html-navigation-mobile-open {
    .navigation {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #212121;
      z-index: 2;
      padding: 20px;
      align-items: center;
      justify-content: center;

      .location{
        position: absolute;
        display: flex;
        left: 10px;
        top: 20px;
      }
      .navigation-menu{
        display: flex;
        flex-direction: column;
      }
      .mobile-menu-btn{
        position: absolute;
        top: 20px;
        right: 10px;
      }
    }
  }
}
