.social-logo.social-logo--vk,
.social-logo.social-logo--instagram,
.social-logo.social-logo--telegram,
.social-logo.social-logo--facebook,
.social-logo.social-logo--youtube,
.social-logo.social-logo--twitter {
  margin-right: 17px;
  color: black;
  font-size: 22px;

  &:hover {
    color: #ff6801;
  }
}

/*  Code samples

<a class="social-logo social-logo--instagram" href="#"><i class="fab fa-instagram"></i></a>
<a class="social-logo social-logo--telegram" href="#"><i class="fab fa-telegram"></i></a>
<a class="social-logo social-logo--facebook" href="#"><i class="fab fa-facebook"></i></a>
<a class="social-logo social-logo--youtube" href="#"><i class="fab fa-youtube"></i></a>
<a class="social-logo social-logo--twitter" href="#"><i class="fab fa-twitter"></i></a>
*/
